/*
 * File: index.css
 * Contract: EU contract 2022-FR01-KA220-HED-000023509
 * Project: FitNESS 2 ERASMUS+
 * File Created: Thursday, 11th April 2024
 * Authors: Steward OUADI (AgroParisTech),  Olivier VITRAC (INRAE), Lucca COLLAS
 * -----
 * Last Modified: Wednesday, 22nd May 2024
 * Modified By: Lucca COLLAS
 */

*{
    padding: 0;
    margin: 0;
}

.oui{
    width: 1122.519685px;
    height: 793.7007874px;
}

#element-to-print>p{
    position: absolute;
    top: 8.5cm;
    left: 11.5cm;
    font-size: xxx-large;
    
}

#element-to-print>img{
    width: 1122.519685px;
    height: 793.7007874px;
}

#element-to-print{
    /* //position: absolute; */
}
